
.form_wrapper {
	margin-bottom: 60px;
	padding: 40px;
	-webkit-box-shadow: 0 0 40px -20px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 40px -20px rgba(0,0,0,0.5);
	box-shadow: 0 0 40px -20px rgba(0,0,0,0.5);
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

	&.account_page {
		-webkit-box-shadow: 0 48px 60px -40px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 48px 60px -40px rgba(0, 0, 0, 0.2);
		box-shadow: 0 48px 60px -40px rgba(0, 0, 0, 0.2);
	}

	&.mailchimp {
		margin-bottom: 0;

		@include media($tablet) {
			padding: 20px;
		}


		h4 {
			font-size: 24px;
			text-align: center;
			color: $black;

			@include media($tablet) {
				font-size: 2.4vw;
			}

			@include media($mobile) {
				font-size: 3.4vw;
			}

		}

		img {
			width: 20px;
			height: 20px;
			margin: auto;

			@include media($tablet) {
				width: 15px;
				height: 15px;
			}
		}

		input[type='email'] {
			border-top-right-radius: 0;
			-webkit-border-top-right-radius: 0;
			-moz-border-radius-topright: 0;
			border-bottom-right-radius: 0;
			-webkit-border-bottom-right-radius: 0;
			-moz-border-radius-bottomright: 0;
		}

		input[type='submit'] {
			font-size: 14px;
			padding: 10px 5px;
			margin-top: auto;
			border-top-left-radius: 0;
			-webkit-border-top-left-radius: 0;
			-moz-border-radius-topleft: 0;
			border-bottom-left-radius: 0;
			-webkit-border-bottom-left-radius: 0;
			-moz-border-radius-bottomleft: 0;

			@include media($tablet) {
				font-size: 12px;
			}

			@include media($mobile) {
				padding: 5px;
			}
		}
	}
}

.mp_wrapper {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;

	.mp-form-row {

		.mp-form-label {
			@include latolight;
			margin-top: 20px;
			margin-bottom: 8px;
			font-size: 20px;
		}

		label {
			color: $darkGray;
		}
	}

	img {
		width: auto;
	}
}

form {
	@include latoreg;
	color: $black;

	label {
		width: 100%;
		color: #737373;
	}

	.acf-field {
		margin-top: 20px;

		p {
			@include latoreg;
			color: #737373;
		}

		.acf-label {
			label {
				display: none;
			}
		}

		&.acf-field--post-title label {
			display: block;
		}
	}

	.acf-fields {
		margin-bottom: 30px;

		> .acf-field {
			border-top: none;
		}
	}

	input[type="email"] {
		height: 44px;

		@include media($tablet){
			font-size: 16px;
			padding: 15px;
		}

		@include media($mobile){
			height: 40px;
			padding: 10px;
		}

		@include media($smallMobile){
			height: 35px;
		}
	}

	input[type="text"], input[type="password"], input[type="submit"], input[type="email"], select, textarea {
		width: 100%;
		height: 45px;
		background: $white;
		padding: 0 20px;
		display: inline-block;
		font-size: 18px;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.2);

		@include media($mobile){
			font-size: 16px;
			padding: 10px;
			height: 35px;
		}

		@include media($smallMobile){
			height: 30px;
		}
	}

	textarea {
		height: auto;
		padding: 20px;
	}

	input[type="submit"] {
		@include latoreg;
		font-size: 20px;
		width: 100%;
		color: $white;
		height: 45px;
		display: inline-block;
		border: none;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		background: $green;
		text-transform: uppercase;
		padding-top: 28px;
		padding-bottom: 50px;
		border-bottom: 6px solid $black;


		&:hover {
			background: $black;
		}

		@include media($mobile){
			font-size: 14px;
			height: 41px;
			top: 0;
		}

		@include media($smallMobile){
			font-size: 12px;
			height: 35px;
			top: -2px;
		}
	}
}

.mepr-login-actions a {
	color: $darkBlue;

	&:hover {
		color: $blue;
	}
}

.mepr-price-menu.classic  {
	margin-bottom: 60px;
	margin-top: 80px;

	.mepr-price-box-title {
		@include latobold;
		font-size: 24px;
		text-transform: uppercase;
	}

	.mepr-price-box-head {
		color: $white;
		padding-top: 20px;
	}


	.mepr-price-box {
		padding-top: 0;

		img {
			width: auto;
		}

		.mepr-price-box-price {
			@include latolight;
			font-size: 22px;
		}
	}

	.mepr-price-box-heading {
		@include latoreg;
		font-size: 20px;
	}

	&.classic_dark .mepr-price-box-benefits .mepr-price-box-benefits-list {
		margin: 0;

		.mepr-price-box-benefits-item {
			@include latoreg;
			border-bottom: none;
			padding: 30px 20px;
			color: $darkGray;
			font-size: 18px;

			&:nth-child(2n - 1) {
				background: $lightGray;
			}
		}
	}
}

.mepr-price-menu.classic.classic_dark {

	.mepr-price-box {
		border: none;
	}

	.mepr-price-box-benefits {
		border-top: none;
	}
}

.mepr-price-boxes {

	.mepr-price-box {
		-webkit-box-shadow: -4px 4px 21px -5px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: -4px 4px 21px -5px rgba(0, 0, 0, 0.3);
		box-shadow: -4px 4px 21px -5px rgba(0, 0, 0, 0.3);
	}

	strike {
		color:#a9fbfd;
		margin-right: 20px;
	}

	a {
		@include latoreg;
		font-size: 16px;
		padding: 10px 15px;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		text-align: center;
		display: block;
		width: 50%;
		margin: 0 auto;
		text-transform: uppercase;

		@include media($tablet){
			padding: 6px 12px;
			font-size: 14px;
		}

		@include media($mobile){
			padding: 7px 10px;
			font-size: 12px;
		}

		@include media($smallMobile){
			padding: 5px 8px;
		}
	}

	#mepr-price-box-37 {

		.mepr-price-box-head {
			background-color: #19d0d4;
		}

		.mepr-price-box-heading {
			color: #0e7a7c;
		}

		a {
			color: $black;
			background: #19d0d4;

			&:hover {
				background: #139c9f;
			}
		}
	}

	#mepr-price-box-38 {
		.mepr-price-box-head {
			background-color: #04788d;

			strike {
				color: #7fd6e6;
			}
		}

		a {
			color: $white;
			background: #04788d;

			&:hover {
				background: #024754;
			}
		}
	}

	#mepr-price-box-39 {
		border: 6px solid $red;
		margin-top: -60px;

		.mepr-price-box-price {
			font-size: 28px;
			padding: 10px 0;
		}

		.mepr-price-box-head {
			background-color: $red;
			padding: 30px 0 30px;
		}

		a {
			color: $white;
			background: $red;

			&:hover {
				background: #d01d1d;
			}
		}

		.mepr-price-box-button {
			margin: 30px 15px 10px;
		}
	}
}

.login_text {
	h3 {
		font-size: 22px;
	}

	.button {
		color: $black;
		font-size: 18px;
		padding: 12px 36px;
		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;

		&:hover {
			background: $darkBlue;
		}

	}
}