
.free_videos {
	padding-right: 0;

	.play_button_wrap {
		top: 0;
		left:0;
		cursor: pointer;

		.play_button {
			width: auto;

			@include media($tablet) {
				width: 60px;
			}

			@include media($mobile) {
				width: 50px;
			}
		}
	}

	.row.background {
		background: url("../images/video-section-bg.jpg") no-repeat;
		background-size: cover;
	}

	h2 {
		font-size: 36px;
		line-height: 1;

		@include media($mobile) {
			font-size: 26px;
		}

		&.black {
			color:$black;
		}
	}

	.video_section {
		padding: 60px 0;

		@include media($tablet) {
			padding: 40px 0;
		}

		@include media($mobile) {
			padding: 20px 0;
		}
	}

	.desc {
		background: $white;
		color: $black;
		border-bottom: 10px solid $gray;

		&.gray {
			background: $lightGray;
		}

		p {
			@include media($mobile) {
				font-size: 14px;
			}
		}
	}
}
