
.free_videos {

	.row.background {
		background: url("../images/video-section-bg.jpg") no-repeat;
		background-size: cover;
	}

	h2 {
		font-size: 36px;
		line-height: 1;

		&.black {
			color:$black;
		}
	}

	.video_section {
		padding: 60px 0;
	}

	.desc {
		background: $white;
		color: $black;
		border-bottom: 10px solid $gray;

		&.gray {
			background: $lightGray;
		}
	}
}
