.home_section {
	padding-top: 50px;

	.outer_hero {
		overflow: hidden;
	}

	.hero_background {
		background:url('../images/hero-image.jpg') no-repeat;
		background-size: cover;
		background-position: center 34%;
		padding: 18% 0 16%;
		height: 100%;
		width: 100%;
		animation: zoom 75s ease-in-out infinite;
		-webkit-animation: zoom 75s ease-in-out infinite;
		/*animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		-o-animation-fill-mode: forwards;
		-webkit-animation-fill-mode: forwards;*/
		transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		-webkit-transition: all .5s ease-in-out;
		overflow:hidden;

		@include media($desktop) {
			padding: 18% 0 22%;
		}

		@include media($tablet) {
			padding: 24% 0;
		}

		@include media($mobile) {
			padding: 35% 0 10%;
			animation: none;
			-ms-transform: none;
			-moz-transform: none;
			-webkit-transform: none;
			-o-transform: none;
			transform: none;
		}

		@include zoom;
	}

	.hero {
		top: 35%;
		right: 0;
		width: 100%;

		h2 {
			@include fefcsc2;
			font-size: 60px;
			text-transform: uppercase;
			text-shadow: 1px 4px 2px rgba(0, 0, 0, 1);
			color: $white;
			margin-bottom: 5px;

			@include media($desktop) {
				font-size: 50px;
			}

			@include media($tablet) {
				font-size: 5.3vw;
			}

			@include media($mobile) {
				font-size: 5.5vw;
				line-height: 1.2;
			}
		}

		h3 {
			font-size: 22px;
			margin: 0;
			text-shadow: 1px 2px 2px rgba(0, 0, 0, 1);
			line-height: 1.4;

			@include media($tablet) {
				font-size: 2.6vw;
			}

			@include media($mobile) {
				font-size: 16px;
			}

			@include media($smallMobile) {
				font-size: 2.6vw;
			}
		}
	}

	.intro_text {
		background: $beige;
		padding: 60px 0;

		@include media($tablet) {
			padding: 40px 0;
		}

		@include media($mobile) {
			padding: 30px 0;
		}

		.content_wrap {
			color: $black;
			text-align: center;

			h3 {
				@include latobold;
				font-size: 54px;
				margin: 0;
				line-height: 1.4;

				@include media($tablet) {
					font-size: 40px;
				}

				@include media($mobile) {
					font-size: 32px;
				}
			}

			p {
				font-size: 22px;
				line-height: 1.6;
				padding: 0 10%;

				@include media($tablet) {
					font-size: 18px;
					padding: 0 5%;
				}

				@include media($mobile) {
					font-size: 16px;
					padding: 0;
				}
			}
		}

		.form_wrapper {
			margin-top: 40px;
		}
	}
	
	.about_section {
		background: $beige;
		padding: 60px 0;
		color: $black;

		@include media($tablet) {
			padding: 40px 0;
		}
		
		@include media($mobile){
			padding: 20px 0;
		}
		
		.column {
			
			&:last-child {
				@include media($mobile){
					margin-top: 40px;
				}
			}

			iframe {
				width: 100%;
			}

			h2 {
				margin-bottom: 30px;
				font-size: 30px;

				@include media($mobile) {
					font-size: 26px;
				}
			}
			
			p {
				line-height: 2;
				
				@include media($mobile){
					font-size: 14px;
				}
				
				&.bold {
					@include latobold;
					margin-top: 20px;
					
					&.mobile {
						display: none;
						
						@include media($mobile){
							display: block;
						}
					}
					
					&.desktop {
						@include media($mobile){
							display: none;
						}
					}
				}
			}
		}
	}
}

.mc4wp-response {
	text-align: center;
}