#commentform {

	.form-submit {
		@include span-columns(12);
	}
}

.comment_header {
	background: $lightGray;
	color: $blue;

	a {
		color: $blue;
	}
}

.comment-body {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.5);

	.reply {
		padding: 10px 20px;

		a {
			@include latoreg;
			background: $blue;
			color: $black;
			font-size: 16px;
			padding: 10px 15px;
			border-radius: 20px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			text-align: center;

			@include media($tablet){
				padding: 6px 12px;
				font-size: 14px;
			}

			@include media($mobile){
				padding: 7px 10px;
				font-size: 12px;
			}

			@include media($smallMobile){
				padding: 5px 8px;
			}

			&:hover {
				background: $darkBlue;
			}
		}
	}
}

.comments {

	ul.children {
		padding-left: 80px;
	}
}

.comment-respond {
	@include span-columns(12);
	padding: 20px;
	margin-top: 40px;
	-webkit-box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 26px -15px rgba(0,0,0,0.5);

	.comment-reply-title {
		@include latobold;
		font-size: 24px;

		#cancel-comment-reply-link {
			float: right;
			font-size: 16px;
			color: $red;
			text-transform: capitalize;
		}
	}

	label {
		@include span-columns(12);
		@include latoreg;
	}

	textarea {
		@include span-columns(12);
		border: 1px solid $lightGray;
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		margin-bottom: 20px;
		padding: 10px;
	}

}


/*

.comments {
	padding-bottom: 20px;
	color: #454647;

	.comment-content {
		width: 100%;

		.comment_heading {
			padding: 10px;
		}
	}

	.comment-reply-title {
		color: $white;
	}

	.comment_reply_wrap {
		#reply-title {
			color: $black;
		}
	}

	.comment-metadata {
		@include span-columns(10);
		padding-top: 10px;
		font-size: 10px;
	}

	.comment-meta {
		@include span-columns(2);
		background: transparent;
		margin-right: 5px;
		max-width: 60px;

		&.desktop {
			display: none;
		}

		&.mobile {
			display: block;
		}
	}

	.comment-reply-title span {
		font-size: 14px;
		margin-top: 5px;

		@include media($mobile) {
			font-size: 12px;
		}
	}
}

#respond #comment-form-identity {
	display: none !important;
}

#commentform iframe {
	height: 230px !important;
}

*/

.comment-awaiting-moderation {
	font-family: 'robotobold', sans-serif !important;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	text-align: center;
	background: rgba(0,0,0,.6);
	font-size: 24px !important;
	color: $yellow;
	line-height: 1.4;
	padding-top: 5% !important;

	@include media($tablet) {
		padding-top: 10% !important;
	}

	@include media($mobile) {
		padding-top: 15% !important;
	}
}

/*

.comment_reply_wrap {
	width: 100%;
	float: left;
	display: none;
	margin-top: 20px;

	.cancel_comment {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	#reply-title {
		color: $black;
	}
}


.comment-respond, .comment_reply_wrap{

	h3 {
		margin-top: 0;
		font-size: 20px !important;
		text-align: left;

		@include media($tablet) {
			font-size: 18px !important;
		};

		@include media($mobile) {
			font-size: 16px !important;
		}
	}

	form {
		@include span-columns(12);
		text-align: left;

		.comment-form-comment {
			@include span-columns(12);

			label {
				display: none;
			}

			textarea {
				@include span-columns(12);
				height: 100px;
			}
		}
		.comment_submit {
			float: left;
		}
	}
}


#comments {
	@include span-columns(12);
	padding: 30px 0;
	text-align: left;

	.comments-title {
		display: none;
	}

	ol {
		@include span-columns(12);
		list-style: none;

		li {
			@include span-columns(12);
			margin-bottom: 20px;

			.children {
				@include span-columns(12);
				padding-left: 6.7%;
				margin-top: 5px;

				li {
					margin-bottom: 5px;
				}
			}
		}
	}

	.comment-meta {
		@include span-columns(1);
		background: $white;
		padding: 5px;
		text-align: center;
		margin-right: .5%;

		&.mobile {
			display: none;

			@include media($mobile) {
				@include span-columns(1);
				background: transparent;
				margin-right: 5px;
				max-width: 60px;
			}
		}

		&.desktop {
			@include media($mobile) {
				display: none;
			}
		}
	}

	.comment-content {
		@include span-columns(11.2);
		background: $white;
		border: 1px solid $darkGray;
		text-align: center;

		@include media($mobile) {
			@include span-columns(4);
		}

		.comment_heading {
			padding: 20px 20px 10px 20px;
			background: $lightGray;
			color: $red;
			text-align: left;

			@include media($mobile) {
				padding: 5px 10px 5px 5px;
			}
		}

		> p {
			@include span-columns(12);
			padding: 10px 20px;
			text-align: left;
		}

		.video_embed {
			width: 50%;
			display: inline-block;
			margin: 20px auto 0;
			padding: 0 20px;

			@include media($tablet) {
				width: 75%;
			}

			@include media($mobile) {
				width: 100%;
			}
		}

		.comment-metadata {
			width: 100%;
			float: left;
			font-size:12px;
			line-height:1.2;

			@include media($mobile) {
				@include span-columns(3);
				padding-top: 20px;
				font-size: 10px;
			}

			a {
				float: left;
				width: 100%;
				color: $red;
			}

			.fn {
				font-family: 'robotobold', sans-serif;
				float: left;
				line-height: 1.1;
				font-size: 16px;

				@include media($mobile) {
					font-size: 14px;
				}
			}

			.says {
				float: left;
				font-size: 16px;
				margin-left: 6px;

				@include media($mobile) {
					font-size: 14px;
				}
			}
		}
	}

	.reply {
		@include span-columns(12);
		float: right;
		padding: 20px;
		text-align: right;
		margin-right:0;

		.reply_button {
			display: inline-block;

			a {
				font-family: 'robotoregular', sans-serif;
				font-size: 16px;
				padding: 7px 15px;
				border-radius: 4px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				background: $red;
				color: $white;

				&:hover {
					background: #c30b21;
				}

				@include media($tablet) {
					padding: 6px 12px;
					font-size: 14px;
				}

				@include media($mobile) {
					padding: 7px 10px;
					font-size: 12px;
				}

				@include media($smallMobile) {
					padding: 5px 8px;
				}
			}
		}

		.button_wrap {
			float: right;
			margin-left: 10px;
		}
	}

	#respond {
		@include span-columns(12);

		.logged-in-as {
			display: none;
		}
	}

	.comment_submit {
		input {
			font-family: 'robotoregular',sans-serif;
			float: left;
			background: $red;
			color: $white;
			font-size: 16px;
			padding: 7px 15px;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border: none;

			&:hover {
				background: #c30b21;
			}

			@include media($tablet){
				padding: 6px 12px;
				font-size: 14px;
			}

			@include media($mobile){
				padding: 7px 10px;
				font-size: 12px;
			}

			@include media($smallMobile){
				padding: 5px 8px;
			}
		}

		.loading_gif {
			float: left;
			width: 20px;
			height: 20px;
			margin-left: 5px;
			margin-top: 8px;
			text-align: center;

			@include media($mobile) {
				width: 15px;
				height: 15px;
				margin-top: 6px;
			}
		}
	}
}
*/
