.video_text_slider {
	@include latobold;
	background: url('../images/testimonials-video-bg.jpg') no-repeat;
	background-size: cover;
	padding: 60px 0;

	p {
		font-size: 22px;
		line-height: 1.6;
	}

	h4 {
		color:$blue;
		font-size: 18px;
		font-style: italic;
	}

	.carousel-indicators {
		right: -80px;

		li {
			width: 10px;
			height:10px;
			background-color: transparent;
			background-clip: padding-box;
			border: 3px solid $blue;
			border-radius: 50px;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
		}
	}
}

.text_slider {
	color: $black;
	padding: 60px 0;

	.carousel-inner {
		padding: 40px;
	}

	.carousel-control-next-icon {
		background-image: url("../images/slider-right-arrow.png");
		width: 30px;
		height: 40px;
	}

	.carousel-control-prev-icon {
		background-image: url("../images/slider-left-arrow.png");
		width: 30px;
		height: 40px;
	}

	.carousel-control-prev, .carousel-control-next {
		width: 5%;
	}

	.sr-only, .sr-only-focusable:not(:focus) {
		width: 25px !important;
		height: 40px !important;
	}

	h4 {
		font-style: italic;
		font-size: 18px;
		color:$blue;
	}

	.text_box {
		padding: 50px 40px 100px 15px;
		-webkit-box-shadow: 0 0 30px -8px rgba(173,173,173,1);
		-moz-box-shadow: 0 0 30px -8px rgba(173,173,173,1);
		box-shadow: 0 0 30px -8px rgba(173,173,173,1);

		p {
			font-size: 22px;
			line-height: 1.6;

			&:before {
				content: '';
				background: url("../images/icon-quotes.png") no-repeat;
				position: absolute;
				background-size: 100%;
				top: -35px;
				left: 2px;
				width: 40px;
				height: 32px;
			}
		}
	}
}