* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

p {
	margin-bottom: 10px;
}

html, body {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
	background: none;
}

body {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: $white;
	height: 100%;
}

.video_wrapper {
    @include span-columns(12);
	padding-bottom: 56.25%;
	height: 0;
	position: relative;
	cursor: pointer;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.video_notation {
        padding-bottom: 124.25%;

        @include media($mobile) {
            padding-bottom: 175.25%;
        }
	}
}

.wrapper {
	@include span-columns(12);
	position: relative;
	background: #fff;
	z-index: 20;
	height: 100%;
	width: 100%;
	display: inline-block;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition:  .5s ease-in-out;
	
	&.slide {
	 	transform: translate3d( -250px, 0, 0 );
		-webkit-transform: translate3d( -250px, 0, 0 );
		
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0,0.0,0,.4);
			z-index: 999;
		}
	}
}

.full_width {
	@include span-columns(12);
}

a {
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

::selection {
	background: lighten($orange, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

::moz-selection {
	background: lighten($orange, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

.oldies {
	background: lighten($charcoal, 20%);
	color: $white;
	text-align: center;
	padding: 1rem 0;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
	@include media($mobile){
		font-size: 16px !important;
	}
}


.button {
	@include latoreg;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	text-align: center;
	
	@include media($tablet){
		padding: 6px 12px;
		font-size: 14px;
	}
	
	@include media($mobile){
		padding: 7px 10px;
		font-size: 12px;
	}
	
	@include media($smallMobile){
		padding: 5px 8px;
	}

	&.larger_font {
		font-size: 20px;
	}

	&.square {
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
	}
		
	&.blue {
		color: $black;
		background: $blue;
		
		&:hover {
			background: $darkBlue;
		}
	}
	
	&.orange {
		background: $orange;
		color: $white;
		
		&:hover {
			background: $green;
		}
	}

	&.green {
		background: $green;
		color: $white;

		&:hover {
			background: #000c07;
		}
	}
}

.page_content {
	padding-top: 180px;
	
	@include media($tablet){
		padding-top: 168px;
	}
	
	@include media($mobile){
		padding-top: 152px;
	}
	
	@include media($smallMobile){
		padding-top: 146px;
	}
	
	&.member {
		padding-top: 98px;

		@include media($tablet) {
			padding-top: 90px;
		}
		
		@include media($mobile){
			padding-top: 76px;
		}
	}
}

.video_overlay {
	float: left;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	position: fixed;
	background:rgba(0,0,0,.8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;

	.close_button {
		position: absolute;
		right: 0;
		top: -64px;
		background: $blue;
		color: $black;
		padding: 8px 20px;
		border-radius: 50px;
		cursor: pointer;

		@include media($mobile) {
			top: -45px;
			padding: 5px 21px;
			font-size: 14px;
		}

		&:hover {
			background: $darkBlue;
		}
	}

	.video_embed {
		width: 50%;
		margin: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;

		@include media($mobile) {
			width: 85%;
		}
	}
}

.video_wrapper {
	padding-bottom: 56.25%;
	height: 0;
	position: relative;
	cursor: pointer;
	margin: auto;

	iframe {
		width: 100%;
	}
}

.extra_padding {
	padding: 0 12%;
}

.main {
	color: $black;
}

.donate {

	h3 {
		font-size: 24px;
	}

	form {
		text-align: center;

		img {
			width: auto;
		}

		input[type='image'] {
			width: 180px;
			margin-top: 40px
		}
	}
}

