* {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

p {
	margin-bottom: 10px;
}

html, body {
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
	background: none;
}

body {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: $white;
	height: 100%;
}

.video_wrapper {
    @include span-columns(12);
	padding-bottom: 56.25%;
	height: 0;
	position: relative;
	cursor: pointer;
	margin: auto;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.full_width {
	@include span-columns(12);
}

a {
	text-decoration: none;
	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

::selection {
	background: lighten($orange, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

::moz-selection {
	background: lighten($orange, 5%);
	opacity: 0.8;
	color: $white;
	text-shadow: 0 0 1px $charcoal;
}

.oldies {
	background: lighten($charcoal, 20%);
	color: $white;
	text-align: center;
	padding: 1rem 0;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
	@include media($mobile){
		font-size: 16px !important;
	}
}


.button {
	@include latoreg;
	font-size: 16px;
	padding: 10px 15px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	text-align: center;
	
	@include media($tablet){
		padding: 6px 12px;
		font-size: 14px;
	}
	
	@include media($mobile){
		padding: 7px 10px;
		font-size: 12px;
	}
	
	@include media($smallMobile){
		padding: 5px 8px;
	}

	&.larger_font {
		font-size: 20px;
	}

	&.square {
		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		padding-top: 28px;
		padding-bottom: 30px;
		border-bottom: 6px solid #000000;
	}
		
	&.blue {
		color: $black;
		background: $blue;
		
		&:hover {
			background: $darkBlue;
		}

		&.arrow {
			padding: 15px 60px 15px 30px;
			border-radius: 30px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;

			&:after {
				content: '';
				background: url("../images/icon-arrow.png") no-repeat;
				background-size: 100%;
				right: 22px;
				top: 21px;
				position: absolute;
				width: 28px;
				height: 15px;
			}

			&.back_link {
				padding: 15px 30px 15px 60px;

				@include media($mobile) {
					padding: 10px 30px 10px 40px;
				}

				&:after {
					content: none;
				}

				&:before {
					content: '';
					background: url("../images/icon-arrow-back.png") no-repeat;
					background-size: 100%;
					left: 22px;
					top: 21px;
					position: absolute;
					width: 28px;
					height: 15px;

					@include media($mobile) {
						left: 12px;
						top:18px;
						width: 20px;
					}
				}

			}
		}
	}
	
	&.orange {
		background: $orange;
		color: $white;
		
		&:hover {
			background: $green;
		}
	}

	&.red {
		background: $red;
		color: $white;

		&:hover {
			background: $black;
		}
	}

	&.green {
		background: $green;
		color: $white;

		&:hover {
			background: #000c07;
		}
	}
}

.video_overlay {
	float: left;
	width: 100%;
	height: 100%;
	min-height: 100%;
	z-index: 9999;
	top: 0;
	left: 0;
	position: fixed;
	background:rgba(0,0,0,.8);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;

	.close_button {
		position: absolute;
		right: 0;
		top: -64px;
		background: $blue;
		color: $black;
		padding: 8px 20px;
		border-radius: 50px;
		cursor: pointer;

		@include media($mobile) {
			top: -45px;
			padding: 5px 21px;
			font-size: 14px;
		}

		&:hover {
			background: $darkBlue;
		}
	}

	.video_embed {
		width: 50%;
		margin: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;

		@include media($mobile) {
			width: 85%;
		}
	}
}

.extra_padding {
	padding: 0 12%;
}

.main {
	color: $black;
}

.donate {

	h3 {
		font-size: 24px;
	}

	form {
		text-align: center;

		img {
			width: auto;
		}

		input[type='image'] {
			width: 180px;
			margin-top: 40px
		}
	}
}

.play_button_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}

.link_wrap {
	position: absolute;
	width: 100%;
	bottom: -46px;
	text-align: center;
	z-index: 1;

	@include media($mobile) {
		bottom: -30px;
	}

	img {
		width: 30px;

		@include media($mobile) {
			width: 16px;
		}
	}

	p {
		@include latobold;
		font-size: 18px;
		text-transform: uppercase;

		@include media($tablet) {
			font-size: 16px;
		}

		@include media($mobile) {
			font-size: 12px;
			margin-bottom: 0;
		}
	}

	&.video_sections {
		top: -125px;
		height: 100px;

		@include media($mobile) {
			top: -90px;
		}

		p {
			color: $black;
		}
	}

	a {
		background: $blue;
		padding: 18px;
		display: inline-block;

		@include media($mobile) {
			padding: 14px;
		}

		&:hover {
			background: $darkBlue;
		}
	}
}

.play_button_wrap {
	top: 0;
	left:0;
	cursor: pointer;
	z-index: 10;

	&:hover {
		background: rgba(0,0,0,.4);
	}

	.img_wrap {
		z-index: 1;
		width: 70px;

		@include media($tablet) {
			width: 60px;
		}

		@include media($mobile) {
			width: 50px;
		}
	}
}