// primary styles 

$charcoal: #3a3a3a;
$darkBlue: #0D112B;
$cobalt: #0020C2;


$white: #fff;
$darkGray: #827d7d;
$darkerGray: #454647;


$red: #f20f2b;
$darkRed: #880415;
$yellow: #ddb72e;
$borderGray: #c8c8c8;
$darkGreen: #574807;
$lightYellow: #f8e59f;
$pink: #cdbb77;

$black: #000000;
$beige: #edebdb;
$blue: #5db9e2;
$darkBlue: #2598cc;
$orange: #f78d02;
$gray: #e5e5e5;
$lightGray: #f5f5f5;
$grayText: #aeaeae;
$green: #013220;