// typography baselines and @font face setups

@font-face {
    font-family: 'lato-reg';
    src: url('fonts/lato-reg-webfont.eot'), url('fonts/lato-reg-webfont.ttf') format('truetype'),url('fonts/lato-reg-webfontt.woff') format('woff'), url('fonts/lato-reg-webfont.woff2') format('woff2'), url('fonts/lato-reg-webfont.svg#latoreguler') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'lato-light';
    src: url('fonts/lato-light-webfont.eot'), url('fonts/lato-light-webfont.ttf') format('truetype'),url('fonts/lato-light-webfontt.woff') format('woff'), url('fonts/lato-light-webfont.woff2') format('woff2'), url('fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'lato-bold';
    src: url('fonts/lato-bold-webfont.eot'), url('fonts/lato-bold-webfont.ttf') format('truetype'),url('fonts/lato-bold-webfontt.woff') format('woff'), url('fonts/lato-bold-webfont.woff2') format('woff2'), url('fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fefcsc2';
    src: url('fonts/fefcsc2-webfont.eot'), url('fonts/fefcsc2-webfont.ttf') format('truetype'),url('fonts/fefcsc2-webfontt.woff') format('woff'), url('fonts/fefcsc2-webfont.woff2') format('woff2'), url('fonts/fefcsc2-webfont.svg#fefcsc2') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2 {
    @include latobold;
}

h3, p {
    @include latoreg;
}
